.card {
    border-radius: 12px;
  }
  
button {
  min-width: 140px;
}

.bg-light {
  max-height: 120px;
  overflow-y: auto;
}
  
.wrapper{
  background-color: #1e1e1e;
}

h3{
  color: white;
}

h5{
  color: white;
}

.graph-container {
  width: 100%;
  height: 600px;
  border: 1px solid #ddd;
  background-color: #fafafa;
}

