<div class="d-flex justify-content-center">
  <div class="card task-card">
    <h2 class="text-center text-white mb-4">Fundamentālie algoritmi</h2>
    <h3 class="text-center text-white mb-4">List of all tasks</h3>

    <div class="taskItem mb-3">
        <button class="btn w-100" (click)="moveToTask('taks1')">
            Linked lists
        </button>
    </div>
    <div class="taskItem mb-3">
        <button class="btn w-100" (click)="moveToTask('taks2')">
            Binary Search and Binary Search Tree
        </button>
    </div>
    <div class="taskItem mb-3">
        <button class="btn w-100" (click)="moveToTask('taks3')">
            Graph traversal
        </button>
    </div>
    <div class="taskItem mb-3">
        <button class="btn w-100" (click)="moveToTask('taks4')">
            Dijkstra’s shortest path
        </button>
    </div>
    <div class="taskItem mb-3">
        <button class="btn w-100" (click)="moveToTask('taks5')">
            Levenshtein distance
        </button>
    </div>
  </div>
</div>
