/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

body{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #121212; 
    color: #e0e0e0;            
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}